<form #form="ngForm" (submit)="onSubmit($event)" class="flex flex-col items-start">
  <label>Search
    <input type="text" name="search"/>
  </label>
  

  <div class="">
    <span>Manufacturer</span>
    <label *ngFor="let brand of brands">{{brand}} 
      <input type="checkbox" name="brand" value="{{brand}}"/>
    </label>
  </div>
  
  <div>
    <span>Color</span>
    <label *ngFor="let color of colors">{{color}} 
        <input type="checkbox" name="color" value="{{color}}"/>
    </label>
  </div>
  
  <div>
    <label for="from">Price from</label>
    <input type="number" name="priceFrom" id="from" />
    <label for="to">to</label>
    <input type="number" name="priceTo" id="to" />
  </div>

  <button class="self-center px-7 py-1 tracking-wider italic font-medium text-white bg-indigo-900 rounded-lg">Filter</button>
</form>
