<main class="min-h-screen bg-[url('https://www.iriworldwide.com/IRI/media/Library/Technology/IRISolutionsTechnolgoyHeaderMobile800x500_r15_082218.jpg')] bg-no-repeat bg-cover">
  <div class="w-full bg-[rgba(182,255,255,0.7)] flex flex-col px-20 py-7 items-center">

    <app-filter-menu [brands]="brands" [colors]="colors" (find)="onFilter($event)"></app-filter-menu>
    <h1 class="text-5xl font-semibold tracking-wider text-center text-orange-600 drop-shadow-md mb-7">Catalog</h1>
    
    <div class="flex flex-wrap justify-center">
      <app-phone-card *ngFor="let product of list" [data]="product"></app-phone-card>
    </div>
    
    <p *ngIf="list.length == 0 && allProducts.length > 0" class="text-xl italic font-semibold tracking-wider text-orange-700">
      There are no products found with these criteria!
    </p>
  </div>
</main>