<section class=" bg-gradient-to-b from-orange-300 to-white w-2/4 h-[500px] border-2 border-black mt-5 ml-[25%] rounded-md">
    <div class="m-8 text-center">
        <h1 class="font-bold text-lg text-indigo-800 underline">Checkout Products</h1>
    </div>
    <table class="table-auto w-full text-center">
        <thead class="font-mono text-xl">
            <tr class="uppercase border-b-2">
                <th class="">Product Details</th>
                <th class=""> QTY </th>
                <th class=""> Total </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="">
                    product
                </td>
                <td class="">
                    quantity
                </td>
                <td class="">
        price
        </td>

            </tr>
        </tbody>
    </table>
    <h2 class="float-right m-5 font-bold text-indigo-800 border-2 bg-orange-400 p-2">Total: $100000</h2>
    <button class="ml-[45%] mt-20 w-20 h-10 bg-orange-500 hover:border-2 border-white font-bold">
         Checkout 
    </button>
</section>